@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
@model List<FairyPhone.Models.ContactMessage>

@{
    ViewData["Title"] = "Contact Messages";
}

<h2>Contact Messages</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date Submitted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Name</td>
                <td>@message.Email</td>
                <td>@message.Subject</td>
                <td>@message.Message</td>
                <td>@message.DateSubmitted.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
